
<!-- <div style="text-align: center;">
<h1>6. Project Guess the number</h1>  

<p>We bouwen we een "Raad het getal" angular applicatie. Je moet bijvoorbeeld een getal van 1 tot 1000 zo snel mogelijk raden. 
  Als je een getal ingeeft gaat de UI zeggen dat het getal te hoog, of te laag of juist is. Ook hou je bij hoeveel keer je hebt moeten raden. </p>
  
  <p>Als uitbreiding ga je ook de tijd bijhouden hoe lang je erover gedaan hebt om het getal te raden. 
    (Je zou kunnen gebruik maken van de lodash module om een random getal aan te maken). Dit project ga je ook uploaden.</p>
  
  </div> -->

  <app-game></app-game>